flows.json
[{"id":"28491d09.b1dc52","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1230162b.827a7a","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"bf265c1f.621de","type":"ui_group","z":"","name":"Reg form","tab":"1230162b.827a7a","order":1,"disp":true,"width":"6","collapse":false},{"id":"e7c4091.2bec2f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6879e359.ac271c","type":"ui_group","z":"","name":"Login Form","tab":"1230162b.827a7a","order":2,"disp":true,"width":"6","collapse":false},{"id":"43228b5c.d05b04","type":"ui_tab","z":"","name":"Second page","icon":"dashboard","disabled":false,"hidden":false},{"id":"570c900.fba177","type":"ui_group","z":"","name":"Second form","tab":"43228b5c.d05b04","order":1,"disp":true,"width":"6","collapse":false},{"id":"70f65aef.8f9604","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false},{"id":"40594595.85ba7c","type":"ui_group","z":"","name":"Bot","tab":"70f65aef.8f9604","order":1,"disp":true,"width":"6","collapse":false},{"id":"3bdda09a.6b1f3","type":"ui_form","z":"28491d09.b1dc52","name":"","label":"","group":"bf265c1f.621de","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":70,"y":140,"wires":[["6a5a007.0d525","b46ee91d.0f7fa8"]]},{"id":"6a5a007.0d525","type":"debug","z":"28491d09.b1dc52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":40,"wires":[]},{"id":"b46ee91d.0f7fa8","type":"function","z":"28491d09.b1dc52","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":140,"wires":[["da1a024d.7ed3b"]]},{"id":"da1a024d.7ed3b","type":"cloudant out","z":"28491d09.b1dc52","name":"cloudant","cloudant":"","database":"sample","service":"node-red-zefdy-2020--cloudant-1597403496876-20343","payonly":true,"operation":"insert","x":500,"y":140,"wires":[]},{"id":"3de4c56b.49a97a","type":"ui_form","z":"28491d09.b1dc52","name":"","label":"","group":"570c900.fba177","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":320,"wires":[["389c9b38.a86684"]]},{"id":"389c9b38.a86684","type":"function","z":"28491d09.b1dc52","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":320,"wires":[["1826c99c.ec5246"]]},{"id":"1826c99c.ec5246","type":"function","z":"28491d09.b1dc52","name":"","func":"var emailid=global.get('emailid');\nmsg.payload=\"emailid:\" +emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":320,"wires":[["94627a37.06b078"]]},{"id":"c82d9b96.b0a758","type":"function","z":"28491d09.b1dc52","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Successful';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":320,"wires":[["48c39672.b8f2a8"]]},{"id":"48c39672.b8f2a8","type":"ui_text","z":"28491d09.b1dc52","group":"570c900.fba177","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":400,"wires":[]},{"id":"9fa531d8.b5a21","type":"ui_form","z":"28491d09.b1dc52","name":"","label":"","group":"40594595.85ba7c","order":0,"width":0,"height":0,"options":[{"label":"User Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":480,"wires":[["a08d9528.aeab68"]]},{"id":"a08d9528.aeab68","type":"function","z":"28491d09.b1dc52","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":480,"wires":[["953e8392.933dd"]]},{"id":"953e8392.933dd","type":"watson-conversation-v1","z":"28491d09.b1dc52","name":"","workspaceid":"d842c151-5fc1-436f-9dfb-2a070c95b0da","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/410cf147-3a24-4e73-aeb0-fae57674c691","timeout":"","optout-learning":false,"x":490,"y":480,"wires":[["fd1cbdc0.10abd","53d8f285.3faa4c"]]},{"id":"fd1cbdc0.10abd","type":"debug","z":"28491d09.b1dc52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":480,"wires":[]},{"id":"53d8f285.3faa4c","type":"function","z":"28491d09.b1dc52","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":560,"wires":[["16ad5dbf.c354b2","971ea651.fb7808"]]},{"id":"16ad5dbf.c354b2","type":"ui_text","z":"28491d09.b1dc52","group":"40594595.85ba7c","order":1,"width":0,"height":0,"name":"","label":"bot response","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":560,"wires":[]},{"id":"971ea651.fb7808","type":"ui_audio","z":"28491d09.b1dc52","name":"","group":"40594595.85ba7c","voice":"","always":"","x":880,"y":480,"wires":[]},{"id":"94627a37.06b078","type":"cloudant in","z":"28491d09.b1dc52","name":"","cloudant":"","database":"sample","service":"node-red-zefdy-2020--cloudant-1597403496876-20343","search":"_idx_","design":"user","index":"user","x":650,"y":320,"wires":[["c82d9b96.b0a758"]]}]